Checks: '*,
    -abseil-*,
    -altera-*,
    -android-*,
    -fuchsia-*,
    -google-*,
    -llvm*,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -zircon-*,
    -readability-else-after-return,
    -readability-static-accessed-through-instance,
    -readability-avoid-const-params-in-decls,
    -readability-identifier-length,
    -readability-function-cognitive-complexity,
    -readability-magic-numbers,
    -performance-no-int-to-ptr,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -hicpp-avoid-c-arrays,
    -cert-err58-cpp,
    -misc-non-private-member-variables-in-classes,
    -misc-no-recursion
'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
